/*


body{
    font-family: 'Open Sans', sans-serif;

}

h1{
    font-size: 45px;
    text-transform: uppercase;
}
p{
    font-size: 18px;
    font-weight: 500;
}
h2{
    font-size: 30px;
    color: #fa2953;
    letter-spacing: 1px;
}
img{
    border-radius: 5px;
    width: 40%;
    filter: opacity(50%);
}
img:hover{
    filter: opacity(100%);
}
h3{
    font-size: 25px;
    color: rgb(88, 61, 238);
}

ol, ul{
    list-style: none;
    font-weight: 600;
}
a{
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    color: #fa2953;
}
a:hover{
    color: rgb(88, 61, 238);
}

*/

/*
div{
    width: 90%;
    height: 400px;
    margin: 10px auto;
    padding: 30px 0;
    background-image:linear-gradient(rgba(0,0,0, .6), rgba(0,0,0, .3)),
     url(../images/imagem1.jpg);
     background-position: 50%;
     border-radius: 7px;
    background-repeat: no-repeat;
    background-size: cover;
}

div h2{
    font-size: 45px;
    color: #fff;
    margin: 50px 30px;
}

div p{
    margin: 30px 30px 60px;
    width: 40%;
    font-size: 20px;
    font-weight: 700;
    color: #ec3874;
}

div a{
    background-color: #8a8484c5;
    color: #fff;
    margin: 30px 30px;
    padding: 20px;
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    border-radius: 7px;
    font-weight: 600;
}
div a:hover{
    background: #000;
    color: #ec3874;
}*/

/*
.bg-blue{background-color: rgba(66, 66, 194, 0.774);}
.bg-red{background-color: rgba(212, 20, 20, 0.774);}
.bg-amarelo{background-color: rgba(197, 218, 13, 0.774);}

.container{
    width: 80%;
    background-color: var(--bg-color);
    margin: 10px auto;
    padding: var(--margin-30);
}


.container h1{
    margin: var(--space-30) auto;
    text-align: center;
}

.box{
    --width-total:60%;
    --margin: 25px;
    width: var(--width-total);
    margin: var(--margin);
}*/

/*
.box{
    width: 80%;
    margin: 10px;
    min-height: 150px;
    background-color: #ccc;
}
img{
    max-width: 80%;
}

*/

/*  banner inicial
.hero{
    width: 100%;
    min-height: 100vh;
    background-image: url(../images/imagem4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}
.hero-content{
    width: 60%;
    padding: 5rem;
    color: var(--color-right);
}
.hero-content h2{
    font-size: 7vmin;
}
.hero-content p{
    font-weight: 600;
    margin-bottom: 2rem;
    line-height: 2rem;
}
.hero-content a{
    text-decoration: none;
    background-color: rgb(8, 1, 29);
    color: #004b0a;
    padding: 15px 30px;
    font-size: 17px;
    border-radius: 5%;
}

.hero-content a:hover{
    transition: 1s;
    background-color: rgb(1, 104, 35);
    color: rgb(255, 255, 255);
}*/

/* grid  em coluns

.grid-list{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}
.grid-item{
    width: 28%;
    margin: 3rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(34, 33, 33);
    padding: 2rem;
    box-shadow: 1px 1px 30px #ccc;
    border-radius: 5px;
    transition: 1s;
}
.grid-item:hover{
    transform: scale(1.1);
}
.grid-item img{
    width: 100%;
    border-radius: 5px;
}
.grid-item h3{
    color: #004b0a;
}
.grid-item p{
    color: #ccc;
}

.grid-item a{
    text-decoration: none;
    padding:15px;
    background-color: rgb(190, 176, 176);
    color: #038a0e;
    margin: 15px 0px 0px 0px;
    font-size: large;
}

.grid-item a:hover{
    transition: 0.5s;
    background-color: rgb(6, 180, 79);
    color: #eef1ee;
 
}
/* responsividade
@media(max-width:650px) {
   
    .hero-content{
        width: 100%;
        padding: 2rem;
    }
    .hero-content h2{
        font-size: 5vmin;
        color: #6be275;
    }
    .hero-content p{
        font-weight: 400;
        margin-bottom: 2rem;
        line-height: 1.5rem;
    }
    .hero-content a{
        text-decoration: none;
        background-color: rgb(228, 224, 240);
        color: #004b0a;
        padding: 20px 25px;
        font-size: 17px;
        border-radius: 5%;
    }



    .grid-item{
        width: 70%;
        margin: 1rem;
    }
}
*/

/* Entendendo os alinhamentos */
.container-exemplo-alinhamentos{
    /* ALINHAMENTO HORIZONTAL - EIXO X */
    justify-content: start ;
    justify-content: end ;
    justify-content: space-around ;
    justify-content: space-between ;
    justify-content: space-evenly ;
    justify-content: center ;

    /* ALINHAMENTO VERTICAL - EIXO Y */
    align-content: start;
    align-content: end;
    align-content: center;

    /* ALINHAMENTO DO CONTEUDO - horizontal  */

    justify-items: start;
    justify-items: end;
    justify-items: stretch;
    justify-items: center;

    /* ALINHAMENTO DO VERTICAL - horizontal  */
    align-items: start;
    align-items: center;
    align-items: end;
    align-items: stretch;


}


    /* Projeto banner escopo
/* .container{
    padding: 1rem;
    color: #fff;
    font-size: 3rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 20vh 70vh 10vh;
}

.header{
    background-color: #333;
    
    grid-column: 1/3;
}

.main{
    background-color: rgb(190, 190, 190);
    grid-column: 1/2;

}

.aside{
    background-color: #999;
  
    grid-column: 2/3;

}
.footer{
    background-color: rgb(114, 111, 111);
    grid-column: 1/3;

} */

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
/* Projeto 2 - Cards */
/* .header{
    background-color: #f1f1f1;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "logo nav";
}
.logo{
    grid-area: logo;
}
nav{
    grid-area: nav;
    display: flex;
    justify-content: flex-end;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 2rem;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #a8e070;
}


.hero{
    background-color: #3a3838;
    color: #f1f1f1;
    padding: 5rem;
    text-align: center;
    display: grid;
    grid-template-areas: "title" "subtitle";
    justify-content: center;
    align-items: center;
}
.hero h1{
    font-size: 3rem;
    margin-bottom: 2rem;
    grid-area: title;
}
.hero p{
    font-size: 1rem;
    grid-area: subtitle;
}


.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 2rem;
    grid-template-areas: "card1 card2 card3" "card4 card5 card6";
    margin: 5rem 0;
    padding: 0 2rem;
}
.card{
    border-radius: 5px;
    background-color: #f1f1f1;
    padding: 2rem;
    text-align: center;
}
.card h2{
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 2rem;
}
.card p{
    font-size: 1.8rem;
    color: #666;
}

.card img{
    width: 100%;
    border-radius: 5px;
}
.card1{
    grid-area: card1;
}
.card2{
    grid-area: card2;
}
.card3{
    grid-area: card3;
}
.card4{
    grid-area: card4;
}
.card5{
    grid-area: card5;
}
.card6{
    grid-area: card6;
}

.footer{
    text-align: center;
    background-color: #3a3838bd;
    color: #a8e070;
    padding: 1rem;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-areas: "copyright";
}

.footer-content{
    grid-area: copyright;
}


@media(max-width:650px){
    .cards {
        display:contents;

    }
    .card{
        background-color: rgb(29, 124, 42);
        margin: 5px;
        justify-items:space-around;
    }
    .cards img{
        width: 80%;
    }
} */


/* Projeto 3 - Formulários */
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
}
h1{
    margin: 20px;
}

fieldset{
    margin: 20px;
    padding: 10px;
} */



/* textarea */
textarea{
    width: 80%;
    height: 200px ;
    resize: none;
    padding: 20px;
}